.button{
  background-color: rgb(255, 255, 255);
  border: none;
  width: 30px;
  font-size: 11px;
  cursor: pointer;
}

.button-div{
  display: flex;
  justify-content: center;
  width: 90px;
  /* margin-left: 100px; */
  column-gap: 5px;


}