
.bar2{
  width:550px;
  height: 300px;
  z-index: 100000;
  margin-top: 15px;
  
  /* margin-right: 70px; */

}

.pie{
  width: 250px;
  height: 250px;
  z-index: 100000;
  justify-content: center;
  align-items: center;


}

.piechart {

  background-color: rgb(253, 253, 253);
  width: 700px;
  height: 350px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center; /* vertical centering */
  align-items: center;     /* horizontal centering */
  gap: 12px;
  box-shadow: 2px 2px 2px rgba(134, 134, 134, 0.34);
  font-size: 12px;
  color: rgb(116, 116, 116);
}
.barchart {

  background-color: rgb(253, 253, 253);
  width: 700px;
  height: 350px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center; /* vertical centering */
  align-items: center;     /* horizontal centering */
  gap: 12px;
  box-shadow: 2px 2px 2px rgba(134, 134, 134, 0.34);
}


.features{
  margin-top: 10px;
  /* s */
}
